.DescriptionBox {
    margin: 120px 170px;
}

.Description-Box-Navigator {
  display: flex;
}

.Description-Box-Navbox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

.Description-Box-Navbox.fade {
    background: #FBFBFB;
    color: #555;
    opacity: 0.5;
}

.Description-Box-Discription {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}

@media(max-width:1280px) {
  .DescriptionBox{
    margin: 60px;
  }
}

@media(max-width:1024px) {
  .DescriptionBox{
    margin: 60px 20px;
  }
  .Description-Box-Discription{
    font-size: 14px;
  }
}