.Offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  margin-top: 50px;
  margin-bottom: 50px;
}

.offers-left {
  flex: 1;
  padding: 20px;
  margin-left: 30px;
}

.offers-left h1 {
  font-size: 2.5em;
  margin: 0;
  color: #333;
}

.offers-left p {
  font-size: 1.2em;
  color: #777;
  margin: 10px 0;
}

.offers-left button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.offers-left button:hover {
  background-color: #0056b3;
}

.offers-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers-right img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1280px) {
  .offers {
    padding: 0px 80px;
    margin-bottom: 120px;
  }
  .offers-left h1 {
    font-size: 40px;
  }
  .offers-left p {
    font-size: 18px;
  }
  .offers-left button {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
  .offers-right img {
    width: 300px;
  }
  .offers-right {
    padding-top: 30px;
  }
}

@media (max-width: 1024px) {
  .offers {
    padding: 0px 60px;
    margin-bottom: 80px;
    margin: 40vh;
  }
  .offers-left h1 {
    font-size: 30px;
  }
  .offers-left p {
    font-size: 16px;
  }
  .offers-left button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
  .offers-right img {
    width: 200px;
  }
  .offers-right {
    padding-top: 10px;
  }
}

@media (max-width: 800px) {
  .offers {
    margin-bottom: 60px;
  }
  .offers-left h1 {
    font-size: 22px;
  }
  .offers-left p {
    font-size: 13px;
  }
  .offers-left button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
  .offers-right img {
    width: 180px;
  }
}

@media (max-width: 800px) {
  .offers {
    height: 25vh;
    margin-bottom: 60px;
  }
  .offers-left h1 {
    font-size: 16px;
  }
  .offers-left p {
    font-size: 10px;
  }
  .offers-left button {
    width: 120px;
    height: 25px;
    font-size: 10px;
    margin-top: 12px;
  }
  .offers-right img {
    width: 120px;
  }
}