/* Container styling for Offers section */
.Offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10%;
  background: linear-gradient(135deg, #a930ce, #1414d2);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Styling for the left section of Offers */
.offers-left {
  max-width: 50%;
  text-align: left;
}

.offers-left h1 {
  font-size: 90px;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1.2;
}

.offers-left p {
  font-size: 30px;
  color: white;
  margin: 10px 0 20px;
  font-weight: 600;
}

.offers-left button {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.offers-left button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Styling for the right section of Offers */
.offers-right {
  max-width: 45%;
}

.offers-right img {
  width: 100%;
  height: 90vh;
  border-radius: 12px;
  box-shadow: 0 2px 10px gold;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .Offers {
    padding: 40px 5%;
  }
}

@media (max-width: 800px) {
  .Offers {
    flex-direction: column;
    text-align: center;
    padding: 30px 5%;
  }
  
  .offers-left {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .offers-right {
    max-width: 100%;
  }
}
