/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  font-family: Arial, sans-serif;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-logo p {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 15px;
  position: relative;
}

.navbar-menu a {
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #ff6347;
}

.navbar-menu hr {
  border: none;
  height: 2px;
  background-color: #ff6347;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
}

.navbar-login-cart {
  display: flex;
  align-items: center;
}

.navbar-login-cart a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.navbar-login-cart button {
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-login-cart button:hover {
  background-color: #ff4500;
}

.navbar-login-cart img {
  height: 30px;
  margin-left: 15px;
}

.nav-cart-count {
  background-color: #ff6347;
  border-radius: 50%;
  padding: 5px 10px;
  margin-left: 10px;
  font-size: 0.9em;
}

@media (max-width: 1280px) {
  .navbar-menu {
    padding: 12px 50px;
  }
  .nav-logo img{
    width: 40px;
  }
  .nav-logo p{
    font-size: 25px;
  }
  .nav-menu{
    gap:30px;
    font-size: 16px;
  }
  .nav-login-cart{
    gap:30px;
  }
  .nav-login-cart button{
    width: 120px;
    height: 45px;
    font-size: 16px;
  }
  .nav-cart-count{
    margin-left: -40px;
    font-size: 12px;
  }
}

.nav-dropdown{
  display: none;
}

@media (max-width: 1020px) {
  .navbar{
    padding: 12px 30px;
  }
  .nav-menu{
    gap: 20px;
    font-size: 14px;
  }
  .nav-login-cart button{
    width: 80px;
    height: 35px;
    font-size: 14px;
  }
  .nav-login-cart img{
    width: 30px;
  }
  .nav-cart-count{
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 800px) {
  .navbar{
    padding: 10px 0px;
  }
  .nav-dropdown{
    display: block;
    width: 30px;
    rotate: -90deg;
    transition: 0.5s;
  }
  .nav-menu{
    display: none;
    height: 80px;
    width: 100%;
    position: absolute;
    background: white;
    justify-content: center;
    top: 50px;
  }
  .nav-menu-visible{
    display: flex;
  }

  .nav-dropdown.open{
    transform: rotate(90deg);
  }
}

@media (max-width: 500px){
  .navbar{
    width: 8px 0px;
    gap: 0;
  }
  .nav-logo{
    transform: scale(0.8);
  }
  .nav-menu{
    height: 70px;
    width: 50px;
  }
  .nav-login-cart{
    transform: scale(0.8);
  }
}
