.fotter {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.fotter-logo {
  margin-bottom: 20px;
}

.fotter-logo img {
  width: 150px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li {
  cursor: pointer;
  color: #007bff;
  text-decoration: none;
}

.footer-links li:hover {
  text-decoration: underline;
}

.footer-socail-icon {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

.footer-icon-container {
  width: 30px;
  height: 30px;
}

.footer-icon-container img {
  width: 100%;
  height: 100%;
}

.footer-copyright {
  margin-top: 20px;
}

.footer-copyright hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

.footer-copyright p {
  color: #6c757d;
  font-size: 14px;
}

@media (max-width: 800px){
  .fotter{
    gap: 20px;
  }
  .fotter-logo{
    gap: 10px;
    align-items: end;
  }
  .fotter-logo img{
    width: 40px;
  }
  .fotter-logo p{
    font-size: 25px;
  }
  .footer-links{
    font-size: 14px;
    gap: 10px;
  }
  .footer-socail-icon img{
    width: 22px;
  }
  .footer-copyright {
    font-size: 13px;
  }
}
