.footer {
  width: 100%;
  height: auto;
  background-color: #0056b3; /* Light gray background */
  padding: 40px 20px;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  border-top: 3px solid #ddd; /* Light gray border */
  position: relative;
  box-shadow: 0 0 10px wheat;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 60px;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 10px gold;
  font-weight: 600;
}

.footer-logo img:hover {
  transform: scale(1.1);
}

.footer-logo p {
  font-size: 24px;
  color: gold; /* Dark gray text */
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 15px;
  font-weight: 500;
  color: gold; /* Dark gray text */
  font-weight: 600;
}

.footer-links li {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links li:hover {
  text-decoration: underline;
  color: #7700b3; /* Deep blue hover effect */
  transform: translateY(-2px);
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.footer-icon-container {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  background-color: gold; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer-icon-container img {
  width: 20px;
  height: 20px;
}

.footer-icon-container:hover {
  background-color: #9b27d4; /* Deep blue hover effect */
  transform: scale(1.1);
}

.footer-copyright {
  margin-top: 20px;
  font-size: 14px;
  color: gold; /* Light gray text */
  font-weight: 600;
}

@media (max-width: 800px) {
  .footer {
    padding: 20px;
  }
  .footer-logo {
    flex-direction: column;
    gap: 5px;
  }
  .footer-logo img {
    width: 50px;
  }
  .footer-links {
    gap: 10px;
    font-size: 14px;
  }
  .footer-social-icons img {
    width: 20px;
  }
  .footer-icon-container {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 500px) {
  .footer-logo img {
    width: 40px;
  }
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
  .footer-social-icons {
    flex-direction: column;
    gap: 10px;
  }
}
